<form [formGroup]="form">
  <div class="form-group">
    <label for="">Master Password</label>
    <div class="form-control">
      <input type="password" formControlName="masterKey">
    </div>
  </div>
  <div class="form-group">
    <label for="">Serviço</label>
    <div class="form-control">
      <div>{{ service.name }}</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">Senha</label>
    <div class="form-control">
      <div>{{ generatedKey || '&nbsp;' }}</div>
    </div>
  </div>
</form>

<div class="btn-control">
  <a class="bg-primary" href="#" (click)="keyGen()">
    <i class="material-icons">fingerprint</i>
  </a>
  <a class="bg-warn" routerLink="/">
    <i class="material-icons">clear</i>
  </a>
</div>
